nav{
    margin-right: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 50px;
    font-weight: bolder;
    font-size: 23px;
    /* background-color: rgb(69, 194, 243); */
    color:white;
    
}

body{
    background-color: rgb(98, 192, 243);
}
#heading{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
.he{
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.headpic{
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0 ;
    margin:auto;
    z-index: -1;
}